@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

body {
  background-color: rgb(10, 10, 10);
  color: white;
}

.notable-font {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stack-sans-font {
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes goldPulse {

  0%,
  100% {
    box-shadow: 0 0 15px 4px rgba(212, 175, 55, 0.6);
  }

  50% {
    box-shadow: 0 0 30px 10px rgba(212, 175, 55, 0.9);
  }
}

.golden-glow {
  animation: goldPulse 2s ease-in-out infinite;
}

@import "tailwindcss";